input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #757575; /* Cor da linha inferior */
  border-radius: 0;
  padding: 7px 0;
  box-shadow: none;
  width: 100%;
}

/* Remove a borda inferior quando o input está focado */
input[type="text"]:focus {
  border-bottom: 2px solid #F07D90; /* Cor da linha quando focado */
  box-shadow: 0 1px 0 0 #F07D90; /* Sombra opcional para destacar o foco */
  outline: none; /* Remove o contorno padrão */
}
input[type="number"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #757575; /* Cor da linha inferior */
  border-radius: 0;
  padding: 7px 0;
  box-shadow: none;
  width: 60%;
}

/* Remove a borda inferior quando o input está focado */
input[type="number"]:focus {
  border-bottom: 2px solid #F07D90; /* Cor da linha quando focado */
  box-shadow: 0 1px 0 0 #F07D90; /* Sombra opcional para destacar o foco */
  outline: none; /* Remove o contorno padrão */
}

:host{
  ::ng-deep{
    .p-inputNumber{
      width: 100%;
      ::ng-deep{
        input{
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #757575; /* Cor da linha inferior */
          border-radius: 0;
          padding: 7px 0;
          box-shadow: none;
          width: 60%;
        }
      }


    }
  }

}
/* Estilo para o label para alinhá-lo corretamente com o input */
label {
  display: block;
  margin-bottom: 5px;
}
.buttonSave{
  float: right;
}
.itenList:hover{
  background-color: #ccc;
  cursor: pointer;
}
.form-text{
  width: 50%;
  font-size: 20px;
}
.textInput{
  font-size: 20px;

}
