zxing-scanner {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Isso pode não funcionar se o zxing-scanner não usar um elemento video diretamente */
  transform: scale(2.0);
  transform-origin: center center;
}

/* Estilo base para o container do scanner */
.qr-scanner-container {
  position: relative;
  width: 300px; /* Ajuste de acordo com o tamanho desejado */
  height: 300px; /* Ajuste de acordo com o tamanho desejado */
  margin: auto; /* Centraliza o scanner na página */
  overflow: hidden;

}

/* Sobreposição escura */
.qr-scanner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

/* Área central clara - o "buraco" na sobreposição */
.qr-focus-area {
  position: absolute;
  top: 50%; /* Ajuste para posicionar verticalmente */
  left: 50%; /* Ajuste para posicionar horizontalmente */
  width: 200px; /* A largura do buraco */
  height: 200px; /* A altura do buraco */
  margin-top: -100px; /* Metade da altura para centralizar */
  margin-left: -100px; /* Metade da largura para centralizar */
  background: transparent; /* Fundo transparente */
  z-index: 2;
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.75); /* Sombra ao redor para criar o efeito de buraco */
  border: 2px solid green; /* Borda da área de foco */
}

/* Linha de varredura */
/* Linha de varredura */
.qr-scanner-line {
  position: absolute;
  top: 0; /* Iniciar do topo */
  left: 50%; /* Centralizar horizontalmente */
  height: 2px; /* Espessura da linha */
  width: 200px; /* Ajustar para a largura da área de foco */
  background-color: green; /* Cor da linha */
  z-index: 3;
  animation: scan-line 3s linear infinite;
  transform: translateX(-50%); /* Centraliza a linha na área de foco horizontalmente */
}

/* Animação da linha de varredura */
@keyframes scan-line {
  0% { transform: translateY(0px) translateX(-50%); }
  50% { transform: translateY(200px) translateX(-50%); }
  100% { transform: translateY(0px) translateX(-50%); }
}

